/* Utilities */

.text_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.semi_transparent {
  opacity: 0.5;
  pointer-events: none;
}

/* General */

*:not(.modal)
{
	
}

html {
  height: fit-content;
}

body {
  height: fit-content;
  min-width: 250px;
  min-width: max-content;
  color: white;
	background-color: black;
}

body > * {
  color: white;
	background-color: black;
}

a {
  color:white;
}

#content {
  padding: 5px;
}

/* Tools */

.tools {
  position: relative;
  top: 10px;
}

.tools > div {
  display: inline;
}

.right_tools {
  margin-left: 50px;
}

.copy_guide_text {
  position: relative;
  font-size: 17px;
}

/* Sites table */

table {
  padding: 0 25px 0 25px;
  border-collapse: collapse;
}

/* Gap between header and first row (it extends to all rows 😂) */
table > * td {
  padding-top: 10px;
  /* Delete icon focus border */
  padding-bottom: 2px; 
  font-size: small;
}

/* Not show entire URLs or domains if they're too long (or a just a bit long) */
td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr > td:nth-child(1):not(.url_saved_domain) {
  text-align: left;
  padding-left: 3px;
}

tr > td:nth-child(n+2) {
  text-align: center;
}

/* Domain column */
tr > th:nth-child(1) {
  width: 115px;
}

/* URL column */
tr > th:nth-child(2) {
  width: 200px;
}

/* Enable column */
tr > th:nth-child(3) {
  width: 90px;
  /* color: #aaffff; */
}

/* Empty column 
tr > th:nth-child(4) {
  width: 25px;
} */

/* Colors columns */
tr > th:nth-child(n+4) {
  width: 63px;
}

/* Delete column */
tr > th:nth-child(8) {
  /* color: #ffffbb; */
}

.header_row {
  border-bottom: 1.5px solid #c1c1c1;
}

.header_row {
  font-size: small;
}

.all_row > td {
  padding-bottom: 10px;
  border-bottom: 1px solid #8888;
  text-align: center !important;
  font-style: italic;
}

.all_row_extended {
  padding-bottom: 45px !important;
} 

.add_site_info {
  max-width: 500px;
  margin: 1.5rem 0 1rem 8rem;
  font-size: medium;
}

/* Highlight hovered row's URL and domain */
tbody > tr:hover, tbody > tr:hover > * > a {
  color: #4DDBFF !important;
}

/* tbody:hover > td {
  opacity: 1 !important;
} */

/* Sites saved by URL's domain are colored in gray and slightly moved to right */ 
.url_saved_domain {
  padding-left: 12px;
}

.url_saved_domain > a {
  color: lightgray;
}

/* Palette pop-pup elements */

header input[type="checkbox"] {
  display: none;
}

header label {
  cursor: pointer;
}

h1
{
  text-align: center;
	/* font-family:"Garamond"; */
	font-family:"Segoe UI", Tahoma, sans-serif;
}

.opacity_25 {
  opacity: 25%;
}

.focus_border {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

input[type="color"] {
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.selected_from_copy {
  background-color: #4DFF6B !important;
  cursor: inherit !important; 
}

.selected_to_copy {
  background-color: #4DDBFF !important;
}

.input_extra_mode {
  padding: 0 6px 0 6px;
  border-radius: 4px;
  background-color: #efefef;
}

.saveBtn {
	margin-top: 15px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal_content {
  position: relative;
  top: -2%;
  right: -28%;
  width: 370.39px;
  height: 74%;
  padding: 5px 15px 5px 5px;
  background-color: rgb(94, 94, 94);
  border-radius: 15px;
}

/* Delete confirmation pop-up */

.modal_delete {
  position: relative;
  width: 61%;
  top: 8%;
  right: -21%;
  overflow-y: auto;
}

.modal_delete_domainAndUrl {
  height: 227px !important;
}

.modal_delete_onlyDomain {
  height: 170px !important;
}

.modal_delete > * p, .modal_delete > p {
  margin: 15px;
  padding-bottom: 5px;
  font-size: medium;
  word-break: break-all;
}

.modal_delete > header > p {
  border-bottom: 1px solid white;
  word-break: normal;
}

.modal_delete .box_buttons {
  text-align: center;
}

/* Spectrum */

.sp-container {
  position: fixed !important;
}

.sp-input-selected {
  border: 1px solid #4DDBFF !important;
}

.sp-input-selected:focus {
  outline-color: #4DDBFF;
}

/* Spectrum */

.modal_content h2 {
  margin-block-end: 0;
}

.modal_content h3 {
  margin-block-start: 0.2em;
}

.popup_title {
  margin: 0 0 10px 10px;
}

.popup_title h2 {
  text-decoration: underline;
  cursor: pointer;
}

.input_color_selector {
  opacity: 0;
  /* padding-top: 35px; */
  margin: 0 0 0 10px;
}

.box_buttons > * {
  cursor: pointer;
}

.box_buttons > input:nth-child(1) {
  margin-right:15px;
}

/* Good CSS practices */

.random_div {
  margin: 25px 0 0 300px;
}

.cycle_div {
  margin: 18px 0 0 300px;
}

.cycle_speed_div {
  margin: 55px 0 0 265px;
}

.acccan_div {
  margin: 110px 0 0 150px;
}

/*customised range*/ 
input[type="range"] {
  padding: 2px;
}

input[type="range"].range
{
  cursor: pointer;
  width: 100px !important;
  -webkit-appearance: none;
  z-index: 200;
  width:50px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
}

/*customised range when focusing on input  input[type="range"].range:focus
{
  border: 0 !important;
  outline: none !important;
}*/

/*customised range slider icon*/ input[type="range"].range::-webkit-slider-thumb
{
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
background-color: #555;
  background-image: -webkit-linear-gradient(right, #4DDBFF, #00CCFF);
  background-image: -moz-linear-gradient(right, #4DDBFF, #00CCFF);
  background-image: -ms-linear-gradient(right, #4DDBFF, #00CCFF);
  background-image: -o-linear-gradient(right, #4DDBFF, #00CCFF);
}

/*setting round corners to the range */ input[type="range"].round {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/*setting round corners to the range slider icon*/ input[type="range"].round::-webkit-slider-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}


/* set range from 0 - 1 vertically (lowest on top) */ .vertical-lowest-first
{
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}

.palette_bgColor {
  background: rgb(142, 142, 142) !important;
  color: white;
  left: 250px !important;
}

/* Palette selected color's code */
.palette_bgColor * .sp-input {
  font-size: 13px !important;
}

.palette_bgColor * .sp-input-container.sp-cf {
  height: 35px;
}

.pointer_events_none {
  pointer-events: none;
}

/* Toggle switch (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch) */

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 29px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5a5a5a;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Radio buttons with images (http://jsfiddle.net/La8wQ) */

.cc-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

.enable_never {background-image:url("../icons/empty-circle.png");}
.enable_only_everywhere {background-image:url("../icons/semi-circle_2.png");}
.enable_custom {background-image:url("../icons/filled-circle.png");}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}

.drinkcard-cc{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:18px;height:18px;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.5);
     -moz-filter: brightness(1.8) grayscale(1) opacity(.5);
          filter: brightness(1.8) grayscale(1) opacity(.5);
}

.drinkcard-cc:hover{
  -webkit-filter: brightness(1.2) grayscale(1) opacity(1);
     -moz-filter: brightness(1.2) grayscale(1) opacity(1);
          filter: brightness(1.2) grayscale(1) opacity(1);
}

/* Tooltip https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_top */

.tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 3px;
  font-size: 12.5px;
  position: relative;
  bottom: -114px;
  left: 52px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



/* Momentary color change */

.highlight_3s_blue {
    animation:myfirst 3s 1;
    -webkit-animation:myfirst 3s 1; /* Safari and Chrome */
}

@keyframes myfirst
{
    0%      {color:white;}
    25%     {color:#3066ca;}
    75%     {color:#3066ca;}
    100%    {color:white;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0%      {color:white;}
    25%     {color:#3066ca;}
    75%     {color:#3066ca;}
    100%    {color:white;}
}